{% extends 'base.html' %}
{% block content %}
<center>
    <section class="form">
        <form action="addf" method="POST" enctype="multipart/form-data">
            <h1>Title</h1>
            <input type="text" name="title" class="post">
            <h1>Post</h1>
            <textarea name="post" rows="8" cols="80" class="post"></textarea><br>
            <br>
            <input type="file" name="file" value="" accept="image/jpeg, image/jpeg, image/gif, image/x-png, image/x-MS-bmp, image/tiff"><br>
            <br>
            <input type="submit">
        </form>
    </section>
</center>

<!--
	marcadores{
		las negritas se abren usando -> (**), y se cierran con -> (/**)
		para subrallar palabras se abren con (<u) y se cierran con (/u>)
		colore : para definir colores es un poco diferente,
		existen variaciones dependiendo de cual color deseas pero todas comienzan igual
		para definir un color primero se debe abrir la etiqueta de color que se abre con <c luego le agregamos la inicial de dicho color
		y luego la cerramos. de tal manera si queremos rojo solo tenegos que escribir <cr /c>, azul seria <cb /c>, verde seria <cg /c>
		los links se definen de una manera muy facil, solo tienes que abrir la etiqueta con <l "aqui va el link", ;; "nombre"  y luego solo la cierra /l>
		}
    -->

    <script>
        document.getElementById("add").style.color = "#4CAF50"
        document.getElementById("add").style.backgroundColor = "#111"
    </script>

{% endblock %}
