<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estud.io</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div>
        <ul id="ul-nav">
            <li id="il-nav"><a href="/"> <i class="material-icons">home</i></a></li>
            <li id="il-nav"><a href="/add"><i class="material-icons">add</i></a></li>
        </ul>
    </div>
    <header class="banner">
        <div class="banner-text">
            <h1><a href="/">Estud.io</a></h1>
        </div>
    </header>
    <br>
    <section class="section">
        <ul>
            {% for item in list %}
                {% if item != "" %}
                    <li>
                        <a href="/search?q={{item}}" class="list-links">
                            {{item}}
                        </a><br><br>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
</body>
</html>