{% extends 'base.html' %}
{% block content %}

<center>
    <h1>Name:</h1>{{ name }}
    <br>
    <br>
    <br>
    <h2>Password:</h2>
    <form action="/chpwd" method="POST"><input name="pwd" type="text" value="{{pwd}}"> <input type="submit" value="change password"></form>
    <br>
    <br>
    points: {{ pts }}
    <br>
    <br>
    <br>
    <br>
</center>

<script>
    document.getElementById("profile").style.color = "#4CAF50"
    document.getElementById("profile").style.backgroundColor = "#111"
</script>
<a href="/logout">log out</a>



{% endblock content %}