{% extends 'base.html' %}
{% block content %}
<div class="data">
    <h1>Name:</h1>{{ name }}
    <br>
    <br>
    <br>
    <h2>Password:</h2>
    <form action="/chpwd" method="POST"><input name="pwd" type="text" value="{{pwd}}"> <input type="submit" value="change password"></form>
    <br>
    <br>
    points: {{ pts }}
    <br>
    <br>
    <h3>Posts published by: You</h3>
    <form action="#" method="post">
        <a href="#" style="color: red; float:right;">borrar post</a>
    </form>
       number of articles published: {{ n }}
</div>
<center>
        {% for item in posts %}
        {% if item != "" %}
            <li class="del">
                <a class="del" href="/del?q={{item}}&user={{user}}" class="list-links">
                <b>{{item}}</b>
                </a><br><br>
            </li>
        {% endif %}
        {% endfor %}
</center>

<script>
    document.getElementById("profile").style.color = "#4CAF50"
    document.getElementById("profile").style.backgroundColor = "#111"
</script>
<a href="/logout">log out</a>



{% endblock content %}