{% extends 'base.html' %}
{% block content %}

<center>
    <h1>Name:</h1>{{ name }}
    <br>
    <br>
    <br>
    <h2>Password:</h2>
    <form action="/chpwd" method="POST"><input name="pwd" type="text" value="{{pwd}}"> <input type="submit" value="change password"></form>
    <br>
    <br>
    points: {{ pts }}
    <br>
    <br>
    <h3>Posts published by: You</h3>
        number of articles published: {{ n }}
        {% for item in posts %}
        {% if item != "" %}
            <li>
                <a href="/search?q={{item}}" class="list-links">
                <b>{{item}}</b>
                </a><br><br>
            </li>
        {% endif %}
        {% endfor %}
</center>

<script>
    document.getElementById("profile").style.color = "#4CAF50"
    document.getElementById("profile").style.backgroundColor = "#111"
</script>
<a href="/logout">log out</a>



{% endblock content %}