{% extends 'base.html' %}
{% block content %}

<center>
    <h1>{{ title }}</h1>
    <br>
    <p id="post"></p>
    <br>
    <img src="/static/imgs/{{img}}" width="300" height="200" alt="">
</center>
<div>
  published by: {{ by }}

  <p class="rate">
    <a href="/like?q=1&by={{by}}"><i class="material-icons">thumb_up</i></a>
    <a href="/"><i class="material-icons">thumb_down</i></a>
  </p>
</div>

<script>
    var post= "{{post}}"
    console.log(post)
    var i = 0
    while (i < 1000) {
      post=post.replace("&lt;br&gt;","<br>").replace("**","<b>").replace("/**","</b>").replace("&lt;u","<u>").replace("/u&gt;","</u>")
      .replace('&lt;cr','<p style="color: red;">').replace('&lt;cb','<p style="color: blue;">').replace('&lt;cg','<p style="color: green;">')
      .replace('/c&gt;',"</p>").replace('&lt;l','<a target=blank style="color: red; text-decoration: underline;" href="').replace(';;','">').replace("/l&gt;","</a>")
      i++
    }
    document.getElementById("post").innerHTML = post
</script>

{% endblock %}